
.second-container{
    width: 99.4vw;
    height: 99.9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6px;
}
.second-bg{
    position: relative;
    display: flex;

    filter: blur(5px);
}
.second-info-details{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    height: 100%;
    align-items: center;
    z-index:1;

}
.info-text-first{
    color: white;
    font-size: 25pt;
    font-weight: bold;
}
.info-text-third{
    color: white;
    font-size: 25pt;
}
.info-text-second{
    color: white;
    font-size: 15pt;
}